In [4]:
import importlib.util
check_if_term_exists = importlib.util.find_spec("termcolor")
check_if_pandas_exists = importlib.util.find_spec("pandas")
check_if_sqlalchemy_exists = importlib.util.find_spec("sqlalchemy")
check_if_pymysql_exists = importlib.util.find_spec("pymysql")

In [5]:
if check_if_term_exists:
    if check_if_pandas_exists:
        if check_if_sqlalchemy_exists:
            if check_if_pymysql_exists:
                try:
                    import pandas as pd, os, time
                    from aws_connection import AWSConstruct
                    from termcolor import colored
                    print(colored("""All imports done successfully.""", 'green'))
                    time.sleep(1)
                except:
                    print("Installing libraries...")
                    !pip install termcolor
                    !pip install pandas
                    !pip install sqlalchemy

                finally:
                    print(colored("Hope that everything works!", 'green'))

All imports done successfully.
Hope that everything works!

<h2><font color='green'>If you hover over the function calls, ones with a () at the end, <br>it will give you a brief explanation.</font><br><br><font color='blue'>Change the directory location if it fails!<br><font color='green'>Please see the following: <br>../ to go up one directory <br>./ will stay in the current directory<br></font></h2>

In [6]:
%%time
#Measures time to complete. It's not a small amount, so do your best to skip this after the initial...
try:
    df = pd.read_excel("../ExcelDocs/Example_Predictions_Explanations.xlsx")
except:
    try:
        print(colored(f"Your current file location is {os.getcwd()}. The file that is being searched for is not here.", 'red'))
        file_loc = input(colored("If file is not located in same directory, copy paste the location here *(Make sure that you use ../ to start or it will fail.): ", 'blue'))
        df = pd.read_excel(f"{file_loc}")
        print(colored("All files read by Pandas library.", 'green'))
    except:
        print(colored("Failed to read file, Please try again.", "red"))
else:
    print(colored("All files were read successfully.", "green"))

All files were read successfully.
CPU times: total: 359 ms
Wall time: 366 ms

<h2><font color='blue'>Checks for Databases and returns the names of currently used databases</font></h2><br>
<p2><font color='blue'>Do not delete any databases unless you created them, thanks!</font></p2>
<p2><font color='blue'>If you are having issues, <br>please see the __init__ function and change the format</font></p2>

In [7]:
aws_class = AWSConstruct()

In [8]:
connect = aws_class.aws_connection_sql()

Handshake Successful! MySQL version 8.0.28

<h2><font color='blue'>Checks for Databases and returns the names of currently used databases</font></h2><br>
<p1><font color='blue'>Do not delete any databases unless you created them, thanks!</font></p1>

In [9]:
aws_class.sql_check_for_database(db_connection=connect)

[{'Database': 'Get_Dummies_DB'}, {'Database': 'J_J_DB'}, {'Database': 'NIJ_Dataset'}, {'Database': 'Predictions_Output'}, {'Database': 'db_test'}, {'Database': 'information_schema'}, {'Database': 'john_test_delete'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sys'}]

<h2><font color='red'>This is the database deletion function. </font></h2><br>
<p1><font color='red'>It will ask for the name of the Database,</font></p1><br>
<p1><font color='red'>if you are sure you want to delete it, and the execution status</font></p1>

In [10]:
print(colored(f'This is the database deletion function. Do not run this function on databases that you have not instantiated yourself. Thanks!', 'red'))
#db_to_delete = input("Name of the Database to delete: ")
#aws_class.sql_drop_database(db_connection=connect, table_name=db_to_delete)

This is the database deletion function. Do not run this function on databases that you have not instantiated yourself. Thanks!

<h3><font color='blue'> This is the Database creation function. </h3><br>
<p1><font color='blue'> It will create a database for the user.</font></p1><br>
<p2><font color='blue'> You may also just define the name of the Database here as well. </font></p2>

In [11]:
create_db = 'db_test'#input("Name of the Database to instantiate or call: ")
aws_class.sql_create_database(db_connection=connect, db_name=create_db)

Database db_test exists.

<h3><font color='blue'>This will create a table within the Database you named previously.</h3>

In [12]:
create_table = 'Sheet2'#input("What is the name of the new table: ")

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* FROM Sheet2' at line 1")

<h3><font color='blue'> This show the tables within the Database that was named previously</h3>

In [16]:
aws_class.sql_show_tables(db_connection=connect, db_name=create_db)

()

<h3><font color='blue'>This function call will attempt to upload the information to the Database</h3><br>
<p2><font color='blue'>If it fails, it will try again by using the table_name x2, ex: "table_nametable_name"</p2>

In [17]:
aws_class.upload_excel_to_database(db_connection=connect, database=create_db, table_name=create_table, dataframe=df)

960 rows and 4 columns added.

<h3> This is producing a check

In [18]:
aws_class.show_counts_from_table(db_connection=connect, database=create_db, table_name=create_table)

OperationalError: (1054, "Unknown column 'ID_ref' in 'field list'")

In [ ]:
Show_columns_in_table()
Second_table_connection()
Join_tables_on_column_name()
Check_for_duplicates()
Drop_duplicates()
Rebuild_dataframe()

<h3><font color='blue'>This function will disconnect you from the SQL server.</h3>

In [12]:
aws_class.sql_disconnect(connect)

Disconnection from <pymysql.connections.Connection object at 0x000002423E69A560> successful.